<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
    <listener class-name="base.ExtentTestListener"/>
</listeners>
    <test  name="Authors">
        <classes>
            <class name="tests.authors.DeleteAuthorsTest"/>
            <class name="tests.authors.GetAuthorByIdTest"/>
            <class name="tests.authors.GetAuthorsTest"/>
        </classes>
    </test>

    <test name="Books">
        <classes>
            <class name="tests.books.DeleteBooksTest"/>
            <class name="tests.books.GetBookByIdTest"/>
            <class name="tests.books.GetBooksTest"/>
            <class name="tests.books.PostBooksTest"/>
            <class name="tests.books.PutBooksTest"/>
        </classes>
    </test>
</suite> <!-- Suite -->
