<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
    <listener class-name="base.ExtentTestListener" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.books.GetBooksTest"/>
      <class name="tests.books.PutBooksTest"/>
      <class name="tests.books.DeleteBooksTest"/>
      <class name="tests.books.GetBookByIdTest"/>
      <class name="tests.books.PostBooksTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
